:root {
  --color-primary: #9156CD;
  --color-primary-dark: #562885;
  --color-primary-light: #B794DB;
  --color-text: #010101;
  --color-red: #DB525F;
  --color-gray: #A9A9A9;
  --color-mauve: #EFDFFF;
  --color-french-rose: #E9458A;
  --color-blur-ribbon: #156BFA;

  --gradient-primary: linear-gradient(97.15deg, #9156CD 19.29%, #C296F0 110.23%);
  --gradient-red: linear-gradient(146.59deg, #F36D7A 11.04%, #C61C2C 86.3%);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text);
  margin: 0;
  overflow-x: hidden;
}

.overflow-h {
  overflow: hidden;
}

a{
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 73.125rem;
  width: 100%;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  margin: auto;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 1.625rem;
  color: var(--color-primary);
}

.logo span {
  color: #000;
  font-weight: 400;
}

.hide {
  display: none !important;
}

.btn {
  padding: 1rem 2.8125rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 2.125rem;
  display: block;
  width: fit-content;
}

.btn--primary {
  background: var(--gradient-primary);
}

.btn--secondary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn--primary:hover {
  background: linear-gradient(97.15deg, #7743AA 19.29%, #A54DFF 110.23%);
}

/* header */

.header__row {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  display: none;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__list-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-link {
  font-size: 1rem;
  line-height: 2;
  display: inline-block;
  color: var(--color-primary);
}

.nav-link:hover {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

/* section elements */
.section {
  padding-top: 3.75rem;
  padding-bottom: 5.625rem;
}

.section__span {
  color: var(--color-red);
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}

.section__title {
  color: var(--color-primary-dark);
  font-size: 1.875rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0;
}

.section__text {
  margin-top: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.35;
}

/* main section */
.main {
  padding-top: 1rem;
  padding-bottom: 14.0625rem;
  background: url('https://res.cloudinary.com/solovejme/image/upload/v1608756526/SolovejMe/images/line.svg');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto;
}

.main__content {
  padding-right: 2.8125rem;
}

.main__title {
  font-size: 3.1rem;
  font-weight: bold;
  color: var(--color-primary-dark);
  margin-bottom: 1.25rem;
}

.main__title span {
  color: var(--color-red);
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  display: block;
  margin-top: 1.25rem;
}

.content-image {
  display: none;
}

.main__description {
  font-size: 1.25rem;
  line-height: 1.35;
}

.main__list {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.main__list-item {
  font-size: 1.25rem;
}

.main__list-item span {
  color: var(--color-red);
  display: block;
  font-size: 1.875rem;
  font-weight: bold;
}

.main__btn-group {
  margin-top:  2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
  padding-bottom: 5rem;

}

.main__btn-group .btn {
  max-width: 11.4rem;
  width: 100%;
  padding: 1rem;
}


.main__image img {
  width: 100%;
  max-width: 530px;
  display: block;
  margin-right: 0;
  margin-left: auto;
}

/* about section */

.about {
  padding-top: 1.5rem;
  padding-bottom: 3.125rem;
}

.about__image {
  padding-right: 4.75rem;
}

.about__image img {
  width: 100%;
}

.about__list-title {
  margin-top: 3.125rem;
  color: var(--color-primary-dark);
  font-size: 1.25rem;
  font-weight: 600;
}

.hobby-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.hobby-list__item {
  margin-right: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobby__icon {
  width: 2.25rem;
  height: auto;
  margin-right: 0.625rem;
}

.hobby__text {
  font-size: 1.25rem;
  line-height: 1.35;
}

/* skills section */
.skills__list {
  margin-top: 4.6875rem;
  display: grid;
  grid-template-columns: auto auto;
  align-content: space-around;
  grid-row-gap: 1.875rem;
  justify-content: space-between; 
}

.skill {
  width: 29.375rem;
}

@media(max-width: 1024px){
  .skills__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .skill {
    width: 100%;
  }
}

.skill__text-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.skill__text-block span{
  color: var(--color-gray);
}

.skill__progress-bar {
  width: 100%;
  height: 1.6875rem;
  border-radius: 2.5rem;
  background: var(--color-mauve);
  margin-top: 0.625rem;
}

.skill__progress-bar span {
  background: var(--gradient-primary);
  height: 100%;
  display: block;
  border-radius: 2.5rem;
}

.languages {
    margin-top: 3.75rem;
}

.languages__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.languages__list {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  margin-top: 1rem;
}
.languages__list-item {
  display: flex;
  justify-content: space-between;
}

.languages__list-item::before {
  content: '';
  width: 1.6875rem;
  height: 1.6875rem;
  background: var(--gradient-red);
  display: block;
  margin-right: 1rem;
  border-radius: 2.5rem;
} 

/* quality section */

.quality {
  padding-bottom: 15.625rem;
  background: url('https://res.cloudinary.com/solovejme/image/upload/v1608756526/SolovejMe/images/line.svg');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto;
}

.quality__lists {
  margin-top: 3.0625rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 7.75rem;
}

.quality__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.875rem
}

.quality__list-item {
  font-size: 1.25rem;
  position: relative;
  padding-left: 3.125rem;
}

.quality__list-item:not(.quality__list-item--bold)::before {
  content: '';
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  position: absolute;
  top: 0.3125rem;
  left: 0;
}

.quality__list-item--red::before {
  background: var(--gradient-red);
}

.quality__list-item--primary::before {
  background: var(--gradient-primary);
}

.quality__list-item:not(:nth-last-child(-n+1)):not(.quality__list-item--bold)::after{
  content: '';
  position: absolute;
  left: 0.4375rem;
  top: 1.25rem;
  width: 1px;
  height: calc(100% + 0.625rem);
  border-left: 1px dashed var(--color-text);
}

.quality__list-item--bold {
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 0;
}

.quality__title {
  font-weight: 600;
}

.quality__list-item--red .quality__title{
  color: var(--color-red);
}



.quality__list-item--primary .quality__title{
  color: var(--color-primary-dark);
}

.quality__text {
  margin-top: 0.625rem;
}

/* portfolio section */

.portfolio__list {
  margin-top: 1.75rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem 2.875rem;
}

.porfolio__img {
  border-radius: 0.625rem;
  width: 100%;
}

.porfolio__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.porfolio__list-item .btn {
  width: 100%;
  max-width: 15rem;
  padding: 1rem;
}

.porfolio__list-item .btn--primary {
  background: var(--color-french-rose);
}

.porfolio__list-item .btn--secondary {
  border-color: var(--color-blur-ribbon);
  color: var(--color-blur-ribbon);
  margin-top: 1.25rem;
}

/* contants section */

.contacts__list {
  margin-top: 1.875rem;
}

.contacts__item {
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
}

.contacts__item a{
  color: var(--color-text);
}

.contacts__item img{
  vertical-align: middle;
  margin-right: 0.75rem;
}

.social-networks__list {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.social-network {
  margin-right: 1rem;
}

.contacts__btn {
  margin-top: 3.125rem;
  width: 100%;
  max-width: 6.25rem;
}

.contacts__img {
  text-align: right;
}

.contacts__img img {
  width: 100%;
}

.footer {
  font-size: 1.25rem;
  line-height: 1.3;
  text-align: center;
  color: var(--color-primary-light);
  padding-bottom: 5rem;
} 

.mobile-menu {
  display: none;
}


@media (max-width: 922px) {
  .nav {
    display: none;
  }

  .header__row {
    padding-bottom: 0;
  }

  .menu-btn {
    display: block;
    background: none;
    border: 0;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0;
  }

  .section {
    padding-bottom: 0.25rem;
  }

  .main {
    padding-top: 0.625rem;
    padding-bottom: 2.8125rem;
    background-position: 5% 100%;
    background-size: 100%;
  }

  .main__title {
    font-size: 2.1875rem;
  }

  .main__title span {
    margin-top: 0.625rem;
  }

  .main__description {
    font-size: 1.0625rem;
  }

  .main__list {
    margin-top: 2.5rem;
    grid-gap: 1.8125rem;
  }

  .main__list-item {
    font-size: 1.0625rem;
  }

  .main__list-item span {
    font-size: 1.25rem;
  }
  

  .container > .row {
    grid-template-columns: 1fr;
  } 

  .main__content {
    padding-right: 0;
  }

  .main__image, .about__image, .contacts__img {
    display: none;
  }

  .main__btn-group {
    grid-gap: 1rem;
  }

  .main__btn-group .btn {
    padding: 1rem 0;
    margin: auto;
  }

  .content-image {
    max-width: 22.1875rem;
    width: 100%;
    display: block;
    margin: 2.5rem auto;
  }

  .about {
    padding-top: 1.5rem;
  }

  .about__list-title {
    margin-top: 2.3125rem;
  }

  .hobby-list {
    flex-wrap: wrap;
  }

  .hobby-list__item {
    margin-bottom: 1.25rem;
  }

  .skills__list {
    margin-top: 1.5625rem;
    grid-template-columns: 1fr 1fr;
  }

  .languages__list {
    flex-wrap: wrap;
  }

  .languages__list-item {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  .quality {
    padding-bottom: 5.625rem;
    background-position: 5% 100%;
    background-size: 100%;
  }

  .quality__lists {
    margin-top: 2.5rem;
    grid-template-columns: 1fr;
    grid-gap: 2.5rem
  }

  .quality__title {
    font-size: 1.25rem;
  }

  .portfolio__list {
    grid-template-columns: 1fr 1fr;
  }

  .porfolio__list-item .btn {
    width: 100%;
    max-width: 15rem;
    padding: 1rem;
  }

  .porfolio__list-item .btn:first-child {
    margin-top: 0.9375rem;
  }

  .contacts__btn {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 13.125rem;
    padding: 1rem;
  }

  .footer {
    font-size: 0.625rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: var(--color-primary-dark);
    color: #fff;
    padding: 3.125rem 2.5rem;
    box-sizing: border-box;
  }

  .mobile-menu__close{
    width: 1.875rem;
    height: 1.875rem;
    padding: 0;

  }

  .mobile-menu__close img{
    width: 100%;
    height: 100%;
  }

  .mobile-menu__nav {
    display: block;
  }

  .nav__list {
    margin-top: 3.125rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__list-item {
    margin-left: 0;
    margin-right: 0;
  }
  
  .nav-link {
    color: #fff;
    font-size: 1.875rem;
  }

  .nav-link:hover {
    border-bottom: 0;
    color: #fff;
    font-weight: bold;
  }

  .contacts__item {
    font-size: 1rem;
  }

  .mobile-menu__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 3.75rem;
    left: 2.5rem;
    right: 2.5rem;
  }

  .mobile-menu__socials a {
    width: fit-content;
  }
  .mobile-menu__socials img{
    height: 2rem;
  }
}

@media (max-width: 768px){
  .skills__list, .portfolio__list {
    grid-template-columns: 1fr;
  }

  .portfolio__list {
    grid-gap: 0.625rem;
  }
}

@media(max-width: 393px) {
  .main__list-item {
    font-size: 0.875rem;
  }

  .main__list-item span{
    font-size: 1rem;
  }

  .main__btn-group {
    padding-bottom: 3rem;
  }

  .main__btn-group .btn {
    padding: 1rem 0.3rem;
  }
}